.main-wrapper {
  margin: 0 100px 0 100px; }
  .main-wrapper header {
    display: flex;
    height: auto;
    overflow: auto;
    flex-flow: row wrap;
    justify-content: space-between; }
    .main-wrapper header .logo {
      width: 35%; }
      .main-wrapper header .logo img {
        width: 100%; }
    .main-wrapper header nav {
      width: 45%;
      align-self: flex-end;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      /*flex2*/
      display: flex;
      height: auto;
      overflow: auto;
      flex-flow: row wrap;
      justify-content: space-around;
      margin-bottom: 3.5%;
      padding: 10px 50px 10px 100px; }
      .main-wrapper header nav a {
        width: 30%;
        font-size: 20px;
        text-decoration: none;
        text-transform: uppercase;
        color: #46c0d5; }
  .main-wrapper .toolbar {
    margin: 25px 0px 25px;
    text-align: right; }
    .main-wrapper .toolbar input {
      font-size: 130%;
      padding: 10px;
      border-color: #1fbcd3;
      color: #46c0d5; }
    .main-wrapper .toolbar input::placeholder {
      color: #46c0d5; }
  .main-wrapper .post-list {
    display: flex;
    flex-flow: row wrap;
    height: auto;
    overflow: auto;
    align-content: flex-start;
    justify-content: space-between; }
    .main-wrapper .post-list article {
      background-color: #efefef;
      width: 45%;
      margin: 20px;
      margin-right: 0;
      height: max-content;
      padding: 10px; }
      .main-wrapper .post-list article .post-description, .main-wrapper .post-list article h3 {
        color: #1697a6; }
      .main-wrapper .post-list article h3 {
        border-top: 1px solid #617d8a;
        text-transform: uppercase;
        padding-top: 10px;
        margin: 10px 0 10px 0; }
      .main-wrapper .post-list article img {
        width: 100%; }
      .main-wrapper .post-list article p {
        margin: 10px 0 10px 0; }
  .main-wrapper .about h1 {
    color: #1fbcd3;
    text-align: right;
    text-transform: uppercase; }
  .main-wrapper .about img {
    width: calc(100% - 16px); }
  .main-wrapper .about p, .main-wrapper .about img {
    margin: 16px 16px 16px; }
  .main-wrapper .contact-form h1, .main-wrapper .contact-form h4 {
    color: #1fbcd3;
    text-align: right;
    text-transform: uppercase;
    margin: 0; }
  .main-wrapper .contact-form .contact-input {
    margin-left: 16px; }
    .main-wrapper .contact-form .contact-input textarea {
      font-family: Arial;
      width: 100%; }
    .main-wrapper .contact-form .contact-input input {
      height: 30px; }
    .main-wrapper .contact-form .contact-input input, .main-wrapper .contact-form .contact-input textarea {
      width: 100%;
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 10px 0 10px 0;
      border-color: #617d8a;
      border-width: 1px; }
    .main-wrapper .contact-form .contact-input .btn {
      background-color: #1fbcd3;
      color: white;
      width: 15%;
      float: right;
      line-height: 10px;
      box-sizing: border-box;
      text-transform: uppercase; }
  .main-wrapper footer {
    clear: both;
    margin-left: 16px;
    font-size: small;
    color: #6a828c; }
  .main-wrapper p {
    color: #6a828c; }
